.cartContainer{
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.buttonCartContainer {
  position: absolute;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  z-index: 2;
}

svg {
  height: 25px;
  margin-right: 2px;
}

.buttonCart{
  background-color: #222;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}

.productsNumber {
  height: 20px;
  width: 20px;
  border-radius: 999px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fb3939;
  font-size: 12px;
  font-weight: bold;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}